In [3]:
from google.colab import files
files.upload()

Saving salaries_by_college_major.csv to salaries_by_college_major.csv

{'salaries_by_college_major.csv': b'Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group\r\nAccounting,46000.00,77100.00,42200.00,152000.00,Business\r\nAerospace Engineering,57700.00,101000.00,64300.00,161000.00,STEM\r\nAgriculture,42600.00,71900.00,36300.00,150000.00,Business\r\nAnthropology,36800.00,61500.00,33800.00,138000.00,HASS\r\nArchitecture,41600.00,76800.00,50600.00,136000.00,Business\r\nArt History,35800.00,64900.00,28800.00,125000.00,HASS\r\nBiology,38800.00,64800.00,36900.00,135000.00,STEM\r\nBusiness Management,43000.00,72100.00,38800.00,147000.00,Business\r\nChemical Engineering,63200.00,107000.00,71900.00,194000.00,STEM\r\nChemistry,42600.00,79900.00,45300.00,148000.00,STEM\r\nCivil Engineering,53900.00,90500.00,63400.00,148000.00,STEM\r\nCommunications,38100.00,70000.00,37500.00,143000.00,HASS\r\nComputer Engineering,61400.00,105000.00,66100.00,162000.00,STEM\r\nComputer Science,55900.00,95500.00,56000.00,154000.00,STEM\r\nConstruction,53700.00,88900.00,56300.00,171000.00,Business\r\nCriminal Justice,35000.00,56300.00,32200.00,107000.00,HASS\r\nDrama,35900.00,56900.00,36700.00,153000.00,HASS\r\nEconomics,50100.00,98600.00,50600.00,210000.00,Business\r\nEducation,34900.00,52000.00,29300.00,102000.00,HASS\r\nElectrical Engineering,60900.00,103000.00,69300.00,168000.00,STEM\r\nEnglish,38000.00,64700.00,33400.00,133000.00,HASS\r\nFilm,37900.00,68500.00,33900.00,136000.00,HASS\r\nFinance,47900.00,88300.00,47200.00,195000.00,Business\r\nForestry,39100.00,62600.00,41000.00,111000.00,Business\r\nGeography,41200.00,65500.00,40000.00,132000.00,HASS\r\nGeology,43500.00,79500.00,45000.00,156000.00,STEM\r\nGraphic Design,35700.00,59800.00,36000.00,112000.00,HASS\r\nHealth Care Administration,38800.00,60600.00,34600.00,101000.00,Business\r\nHistory,39200.00,71000.00,37000.00,149000.00,HASS\r\nHospitality & Tourism,37800.00,57500.00,35500.00,124000.00,Business\r\nIndustrial Engineering,57700.00,94700.00,57100.00,173000.00,STEM\r\nInformation Technology (IT),49100.00,74800.00,44500.00,129000.00,STEM\r\nInterior Design,36100.00,53200.00,35700.00,107000.00,HASS\r\nInternational Relations,40900.00,80900.00,38200.00,157000.00,HASS\r\nJournalism,35600.00,66700.00,38400.00,145000.00,HASS\r\nManagement Information Systems (MIS),49200.00,82300.00,45300.00,146000.00,STEM\r\nMarketing,40800.00,79600.00,42100.00,175000.00,Business\r\nMath,45400.00,92400.00,45200.00,183000.00,STEM\r\nMechanical Engineering,57900.00,93600.00,63700.00,163000.00,STEM\r\nMusic,35900.00,55000.00,26700.00,134000.00,HASS\r\nNursing,54200.00,67000.00,47600.00,98300.00,Business\r\nNutrition,39900.00,55300.00,33900.00,99200.00,HASS\r\nPhilosophy,39900.00,81200.00,35500.00,168000.00,HASS\r\nPhysician Assistant,74300.00,91700.00,66400.00,124000.00,STEM\r\nPhysics,50300.00,97300.00,56000.00,178000.00,STEM\r\nPolitical Science,40800.00,78200.00,41200.00,168000.00,HASS\r\nPsychology,35900.00,60400.00,31600.00,127000.00,HASS\r\nReligion,34100.00,52000.00,29700.00,96400.00,HASS\r\nSociology,36500.00,58200.00,30700.00,118000.00,HASS\r\nSpanish,34000.00,53100.00,31000.00,96400.00,HASS\r\nSource: PayScale Inc.,,,,,'}

In [4]:
import pandas as pd
data = pd.read_csv("salaries_by_college_major.csv")

In [5]:
data.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [6]:
data.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [7]:
data.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

In [9]:
clean_df = data.dropna()
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [13]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmax()][0]

'Chemical Engineering'

Which college major has the lowest starting salary and how much do graduates earn after university?

In [17]:
clean_df.loc[clean_df['Starting Median Salary'].idxmin()][0]

'Spanish'

In [16]:
clean_df.loc[clean_df['Starting Median Salary'].idxmin()][2]

53100.0

In [19]:
earning_differences = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', earning_differences)
clean_df.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 7 columns]

In [20]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 

Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [23]:
high_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
high_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [24]:
clean_df.groupby('Group').count()

          Undergraduate Major  ...  Mid-Career 90th Percentile Salary
Group                          ...
Business                   12  ...                                 12
HASS                       22  ...                                 22
STEM                       16  ...                                 16

[3 rows x 6 columns]